ansible_hosts: {{hostvars[inventory_hostname].ansible_host}}
ansible_ssh_user: {{hostvars[inventory_hostname].ansible_ssh_user}}
atdd_role_name: {{atdd_role_name}}
role_path: {{role_path}}
role_uuid: {{role_uuid}}